.testemonials-content{
    width: 100%;
    justify-content: center;
    // border: 1px solid red;
    div.rating-card{
       width:207px ;
       height: 207px;
       *{
        border: 1px solid red;
       }
    }

}